<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('head'); %>
  </head>
  <body>
    <%- include('header'); %>
    <main><br>
    <!-- <h1><%= title %></h1> -->
    <!-- <p>Hello and welcome.</p> -->

    <!-- <% if (error) {%>
      <p>Error getting dynamic content.</p>
    <% } else { var currentMonth = data.months[new Date().getMonth()];%>
      <p>The seasonal fruit store currently stocks <span style='border: 2px solid springgreen; padding: 0 2px;'><%=data.veg_count%></span> vegetable<% if(data.veg_count!=1){%>s<%}%> over <%=data.month_count%> months. <a href='/veg_list'>Take a look.</a></p>
      <p>The current month is <%=currentMonth.name%>, and these fruits are ready to sow:
        <% data.vegs.forEach(veg => { %>
          <% if (veg.sow.includes(currentMonth.id)) {%>
            <%=veg.name%>
        <% }; }); %>
         .</p>
    <% } %> -->

    <div class="month-wheel-container">
      <div class="month-wheel" style="transform:rotate(<%=(30*new Date().getMonth())%>deg)">

        <%= %>
        <% data.months.forEach(month => { %>
          <div class="month" style="transform: rotate(<%=30*(data.months.indexOf(month))%>deg);">
            <a href="month/<%=month.name%>"><%=month.name%></a>
          </div>
            <div class="month-wheel-line" style="transform: rotate(<%=(30*(data.months.indexOf(month)))-15%>deg);">
            </div>
        <% }); %>

      </div>
      <div class="harvest-list-container">
        <div class="harvest-list-inner">
          <% data.vegs.forEach(veg => { %>
            <% if (veg.harvest.includes(currentMonth.id)) {%>
              <%=veg.name%>,
          <% }; }); %>
        </div>
        <div class="harvest-list">Time to Harvest ^
        </div>
      </div>
      <div class="sow-list-container">
        <div class="sow-list">Time to Sow <span style="display: inline-block; transform: scaleY(-1);">^</span>
          <div class="sow-list-inner">
            <% data.vegs.forEach(veg => { %>
              <% if (veg.sow.includes(currentMonth.id)) {%>
                <%=veg.name%>,
            <% }; }); %>
          </div>
        </div>
      </div>
    </div>

    <div class="main-page-tail"><br>
      <% for (let i = 10; i > 0; i--) { %>
        <div class="main-page-tail-part" style="width: <%=(i*10)+i*i%>px;"></div>
      <% }; %>
    </div>


    </main>
    <%- include('footer'); %>
  </body>
</html>
