<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('head'); %>
  </head>
  <body>
    <%- include('header'); %>
    <main>
      <h1 class="stretch-title" style="margin-bottom: -5px;"><%= title %></h1>
      <div style="border: 2px solid black; padding: 0 10px; margin-top: 0;">
      <p>Welcome to Veg of the Year!</p>
      <p>It is a simple app that shows what vegetables are in season in the current month of the year.</p>
      </div>



    </main>
    <%- include('footer'); %>
  </body>
</html>
