<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('head'); %>
  </head>
  <body>
    <%- include('header'); %>
    <main>
      <h1><%= title %></h1>
      <p>This is the Fruit of the World Seasonal Inventory System.</p>
      <p>It is a catalogue of fruits by their growing season.</p>
      <p></p>
      <p></p>


    </main>
    <%- include('footer'); %>
  </body>
</html>
