<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('head'); %>
  </head>
  <body>
    <%- include('header'); %>
    <main>
    <div  style="overflow: auto;">

    <h1 style="display: inline-block;"><%= title %></h1>
    <h3 style="display: inline-block;"><em><%= veg.species %></em></h3>
    <img class="veg-detail-image" src="/uploads/<%=veg.image%>">


    <p class="p-description"><%=veg.description%></p>

    <p>They take <%=veg.maturation%> days to mature.</p>


    </div>

    <p><div class="table-title"><em>When to sow:</em></div>
      <!-- <%=veg.sow%> -->
      <div class="sow-table">
        <% for (let i=0; i<12; i++) { %>
          <a href="/month/<%=months[i].name%>">
          <span class="sow-table-cell <%=(veg.sow.some((x) => x.name == months[i].name)) ? 'selected' : ''%>" >
            <%= months[i].name.slice(0,1); %>
          </span>
          </a>
        <% } %>
      </div>
    </p>

    <p><div class="table-title"><em>When to harvest:</em></div>
      <!-- <%=veg.harvest%> -->
      <div class="harvest-table">
        <% for (let i=0; i<12; i++) { %>
          <a href="/month/<%=months[i].name%>">
          <span class="harvest-table-cell <%=(veg.harvest.some((x) => x.name == months[i].name)) ? 'selected' : ''%>" >
            <%= months[i].name.slice(0,1); %>
          </span>
          </a>
        <% } %>
      </div>
    </p>

    <br>
    <p><span class="modify-link"><a class="modify-link">Modify?</a></span>

      <span class="update-delete hidden">—

        <% if (!typeof user) { %>
          <a href="/veg/<%=veg.name%>/addphoto">Add Photo?</a> / <a href="/veg/<%=veg.name%>/update">Update?</a> / <a href="/veg/<%=veg.name%>/delete">Delete?</a>
        <% } else { %>
          Insufficient user priviledges!
        <% } %>
      </span></p>

    <!-- <%=veg%> -->



    </main>
    <%- include('footer'); %>
    <script src="/javascripts/charactercodes.js"></script>
    <script src="/javascripts/modification.js"></script>
  </body>
</html>
