<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('head'); %>
  </head>
  <body>
    <%- include('header'); %>
    <main>
    <h1 style="display: inline-block;"><%= veg.name %></h1>
    <h3 style="display: inline-block;"><em><%= veg.species %></em></h3>

    <span class="month-subtitle right-thorny-underline"><%='Add Photo'%></span>

    <!-- <p>"<%=veg.description%>"</p> -->

    <p>Thank you for uploading this beautiful image:</p>

    <!-- <%=file.fieldname%><br> -->
    <!-- name: <%=file.originalname%> -->
    <!-- <%=file.encoding%> -->
    <!-- <%=file.mimetype%><br>
    size: <%=file.size%>
    <%=file.destination%>
    <%=file.filename%>
    <%=file.path%>
    <%=file.buffer%> -->
    <img class="veg-image" src="/uploads/<%=file.filename%>">
    <a href="/<%=file.path%>">link</a>
    <br>
    <a href="/veg/<%=veg.name%>" class="left-thorny-underline">Go to the <%=veg.name%>.</a>

    </main>
    <%- include('footer'); %>
  </body>
</html>
